extends layout

block title
  h1.my-4 #{title}

block content
  form(action="/edit/"+article.uuid,method="POST")
    .form-group
      label(for='author') Author
        span(style="color:red") (*)
      input#author.form-control(type='text',name='author',value=article.author)
    .form-group
      label(for='author') Title
        span(style="color:red") (*)
      input#author.form-control(type='text',name='title',value=article.title)
    .form-group
      label(for='text') Text
        span(style="color:red") (*)
      textarea#text.form-control(rows='5',name='text') #{article.text}
    .form-group
      label(for='textFull') Text Full
        span(style="color:red") (*)
      textarea#text.form-control(rows='10',name='textFull') #{article.textFull}
    hr
    button.btn.btn-outline-primary(type='submit') Save

block widget