extends layout

block title
  h1.my-4 #{title}

block content
  form(action="/edit/"+article.id,method="POST")
    .form-group
      label(for='author') Author
      input#author.form-control(type='text',name='author',value=article.author)
    .form-group
      label(for='author') Title
      input#author.form-control(type='text',name='title',value=article.title)
    .form-group
      label(for='text') Text
      textarea#text.form-control(rows='3',name='text') #{article.text}
    .form-group
      label(for='textFull') Text Full
      textarea#text.form-control(rows='10',name='textFull') #{article.textFull}
    hr
    button.btn.btn-outline-primary(type='submit') Save

block widget