extends layout
block title
  //h1.my-4 #{title}

block content
  //form
    .row
      .col.text-center
        a(href=paginate.href({ sort: 'createdAt' })) Дата
      .col.text-center
        a(href=paginate.href({ sort: 'author' })) Автор
      .col.text-center
        a(href=paginate.href({ age: 'DESC' })) По Убыванию
      .col.text-center
        a(href=paginate.href({ age: 'ASC' })) По Возрастанию
  form(action='/', method="GET")
    .row
      .col
        .input-group
          select#inputGroupSelect04.custom-select(name="sort")
            if orderValues.sort == 'author'
              option(value='createdAt') Дата
              option(value='author',selected="selected") Автор
            else
              option(value='createdAt') Дата
              option(value='author') Автор
          select#inputGroupSelect04.custom-select(name="age")
            if orderValues.age == 'asc'
              option(value='desc') По Убыванию
              option(value='asc',selected="selected") По Возрастанию
            else
              option(value='desc') По Убыванию
              option(value='asc') По Возрастанию
          select#inputGroupSelect04.custom-select(name="limit")
            if orderValues.limit == 5
              option(value='3') 3
              option(value='5',selected="selected") 5
              option(value='10') 10
            else if orderValues.limit == 10
              option(value='3') 3
              option(value='5') 5
              option(value='10',selected="selected") 10
            else
              option(value='3') 3
              option(value='5') 5
              option(value='10') 10
          .input-group-append
            button.btn.btn-outline-secondary(type='submit') Сортировать
  each article in articles
    // Blog Post
    .card.my-4
      img.card-img-top(src='https://placehold.it/750x300', alt='Card image cap')
      .card-body
        h2.card-title 
          a(href="/post/"+article.uuid) #{article.title}
        p.card-text #{article.text}
        a.btn.btn-outline-primary(href="/post/"+article.uuid) Читать дальше →
      .card-footer.text-muted Posted on #{article.createdAt}
  include _paginate